{% extends 'base.html.twig' %}

{% block title %}PORTFOLIO ALEXIS PECHERIC{% endblock %}

{% block body %}
<!DOCTYPE HTML>



<!DOCTYPE html>
<html lang="fr">
<head>
    <title>ALEXIS PECHERIC</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-1.css">
    {% block stylesheets %}{% endblock %}
</head> 

    

    
    
    
    
    
    
    
    
<body>
    <div class="wrapper mt-lg-5">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="download/profile.png" alt="" />
                <h1 class="name">Pecheric Alexis</h1>
                <h3 class="tagline">Administrateur réseaux</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto:alexispecheric69530@gmail.com
">alexispecheric69530@gmail.com
</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:0767843389"><br>07 67 84 33 89</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="" target="_blank"><br>portfolio-pecheric.com</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="#" target="_blank">linkedin.com/in/alexispecheric</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/alexisrock16" target="_blank"><br>github.com/alexisrock16</a></li>
                    
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Formation</h2>
                <div class="item">
                    <h4 class="degree">BAC STI2D</h4>
                    <h5 class="meta">St Genis Laval (69)</h5>
	                    <div class="time">2017 - 2021</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">BUT Réseaux et Télécommunications </h4>
                    <h5 class="meta">Université Jean Monnet (42)</h5>
                    <div class="time">2021 - 2023</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Langues</h2>
                <ul class="list-unstyled interests-list">
                    <li>Francais <span class="lang-desc"></span></li>
                    <li>Anglais <span class="lang-desc"></span></li>
                   
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Centre d'interet</h2>
                <ul class="list-unstyled interests-list">
                    <li>Les technologies</li>
                    <li>La musique</li>
                    <li>La formule 1</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Mes motivations</h2>
                <div class="summary">
                    <p>Etant donné le développement d'internet et de toutes les choses possibles grâce à internet, mon métier est en constante évolution et je serai ravi de continuer de faire croître mes compétences en intégrant votre société. Je suis rigoureux,dynamique et motiver a apprendre. Etant autonome je peux aussi facilement evoluer dans une equipe.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stage de 3eme</h3>
                            <div class="time">2016 - En entreprise sarl</div>
                        </div><!--//upper-row-->
                        <div class="company">coelme egic (69100) Villeurbanne</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lors de ce stage, j'ai observé tous les postes d'une entreprise mais ce qui ma le plus attiré était la partie informatique. En effet j'ai pu grace à laide du service informatique de celle-ci comprendre comment cela fonctionnait ainsi que les risques et l'importance de la 
                            sécurité du réseau.</p>  
                        <p>J'ai aussi aidé a l'instalation d'un d'un nouveau poste de travail (branchement en majorité). </p>
                    </div><!--//details-->
                </div><!--//item-->
                
              
                  
              
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projets</h2>
                <div class="intro">
                    <p>Vous pouvez voir les projets auquels j'ai participé lors de mon cursus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="" target="_blank">Création d'un site</a></span> - <span class="project-tagline">Ce site web responsive est un projet pour notre insertion professionnelle. C'est un projet Symfony comportant plusieurs pages avec des outils Bootstraps. </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="/cv" target="_blank" download="Pacman_Kiwi.pdf">Configuration</a></span> - <span class="project-tagline">Installer et configurer un poste. Ainsi que un debut d'administration windows clients et serveur avec Active Directory 2008 (Création d'utilisateurs, création d'unités d'organisation, création de groupes).</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="" target="_blank">Electricité</a></span> - <span class="project-tagline">Nous avons ete sensibilise au risque électrique qui sont présents aussi dans ce métier.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="" target="_blank">Audit Wi-Fi </a></span> - 
                    <span class="project-tagline">Mise en place d'une solution wifi en proposant des mesures suite a un audit wifi de l'iut. </span>
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>COMPETENCES PROFESSIONNEL</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Résolution des problemes</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Linux / Ubuntu</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Windows Serveur</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Windows Client</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                  
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Programmation</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
               <i class="fas fa-download"></i>     <a href="download/cv-pecheric.pdf" download>télécharger</a>
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
          
            <small class="copyright">Alexis Pecheric  </small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    
    
    

    
    
    
    
</body>
</html> 
{% endblock %}