<!DOCTYPE HTML>


	<head>
		<title>PORTFOLIO ALEXIS PECHERIC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							
							<h1 id="title">Mon portfolio</h1>
							<p></p>
							<p></p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Administrer les réseaux (s1)</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Connecter les entreprises (s1)</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">Créer des applications (s1)</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Competence (s2)</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->


				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

								<header>
                                    
                                    <style> 
                                        
                                        
                                        
                                        #main > section.one {
			
            background-image: url("images/alexis.jpg"); /*   ici changer chemin/*/
                
                
                                  }   </style> 
                                    
                                    <h2> A - Administrer les réseaux et l’Internet</h2>
                                    <h2>  Savoir identifier les dysfonctionnements du réseau local</h2>
							</header>

							<p>Je sais chercher et trouver les erreurs sur un réseau local pour le rendre de nouveau opérationnel . Tel que vérifier que les Ip correspondent ainsi que le masque de sous reseau. J'ai reussi à bien configurer des switchs en réel et affecter des vlans.</p>


							<footer>
							<img src="images/image_3.jpg" alt="" />
                            
                         
								<a  type=button onclick="aider()" value="Aide" href="https://docs.google.com/document/d/1l9sRRyo_eJvWAUNId0Q97-GF70EpSBH5pKYc9OtYtpQ/edit?usp=sharing" class="button scrolly" target="_blank"   >VOIR COMPTE RENDU</a>
						
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Connecter les entreprises et les usagers (s1)</h2>
							</header>

							<p>je sais utiliser l'outil necessaire pour faire des mesures (sur des points d'acces) sur differents points indiqué sur un plan. Ainsi que comprendre la majorité des données recolté par un appareil de mesure.Je sais aussi donner des solutions pour ameliorer le service wifi a different endroit.Je sais pas trop paramétrer un réflectomètre pour linstalation d'un fibre optique.

                                </p>

														<footer>
							<img src="images/image_3.jpg" alt="" />
                            
                         
								<a  type=button onclick="aider()" value="Aide" href="https://docs.google.com/spreadsheets/d/1isRvD_X9K1W0kXLxCKCRvnEv8Cyn37LJd980-FqKX10/edit#gid=0" class="button scrolly" target="_blank"   >VOIR COMPTE RENDU</a>
						
							</footer>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>Créer des outils et applicationsinformatiques pour les RT (s1)</h2>
							</header>

							<p>J'ai deja fais des sites avant et je sais utiliser le langage html et css et faire un sites responsive je comprend la plupart des balises html ou css. je comprend un peu certaine ligne de js pour les animations par exemple mais pas cms .J'ai reussi a faire un projet symfony cree des routes et un base html.twig

                                </p>

														<footer>
							<img src="images/image_3.jpg" alt="" />
                            
                         
								<a  type=button onclick="aider()" value="Aide" href="https://docs.google.com/document/d/1kJ4U49DAkqTCbKKi7ez3D1FLhl0MXAVgOtTQCyUO8e4/edit?usp=sharing" class="button scrolly" target="_blank"   >VOIR COMPTE RENDU</a>
						
							</footer>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Mon CV</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleif end id porttitor ac ultricies lobortis sem nunc
							orci ridiculusw <br> faucibus <br>a consectetur. <br>Porttitor curae mauris urna mi dolor.
                            azdazdaza zdzaddddddddddddd <br>ddddddddddddddddddddd dddddddd ddddddddddddddddd
                                azdddddd dddddddddddd dddddddddddddddddd <br>dddddddddddddd <br>dddddddd
                                zdaaa<br>
                            
                            
                            
                            
                            
                            </p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer pied de page  -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; PECHERIC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts    const TL = gsap.timeline({ repeat : 3 , repeatDelay : 0.5 });                                        -->
			<script src="assets/js1/jquery.min.js"></script>
			<script src="assets/js1/jquery.scrolly.min.js"></script>
			<script src="assets/js1/jquery.scrollex.min.js"></script>
			<script src="assets/js1/browser.min.js"></script>
			<script src="assets/js1/breakpoints.min.js"></script>
			<script src="assets/js1/util.js"></script>
			<script src="assets/js1/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  
        <script> const titreSpans = document.querySelectorAll('h2, span, p, footer');
        const btns = document.querySelectorAll('button scrolly');
        const logo = document.querySelector('.nav, ul ,.body');
        const medias = document.querySelectorAll('.image.fit');
        const l1 = document.querySelector('.l1');
        const l2 = document.querySelector('.l2');

        window.addEventListener('load', ()  => {

    const TL = gsap.timeline({paused: true});

    TL
    .staggerFrom(titreSpans, 1, {top: -50, opacity: 0, ease: "power2.out"}, 0.3)
    .staggerFrom(btns, 1, {opacity: 0, ease: "power2.out"}, 0.3, '-=1')
    .from(l1, 1, {width: 0, ease: "power2.out"}, '-=2')
    .from(l2, 1, {width: 0, ease: "power2.out"}, '-=2')
    .from(logo, 0.4, {transform: "scale(0)", ease: "power2.out"}, '-=2')
    .staggerFrom(medias, 1, {right: -200, ease: "power2.out"}, 0.3, '-=1');

    
    

    TL.play();
            
        }) 

                               
                               </script>

	</body>
