<!DOCTYPE HTML>


	<head>
		<title>PORTFOLIO ALEXIS PECHERIC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="pecheric_alexis/public/images/sargoche.jpg" alt="" /></span>
							<h1 id="title">ALEXIS PECHERIC</h1>
							<p>Etudiant 1ere année</p>
							<p>BUT réseaux et Télecomunication</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Accueil</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">A propos</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Me contacter</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
                                
                                <h2 class="alt"><span> Salut !</span> <strong><span> Alexis</span></strong> <a href="">Pecheric</a> voici<br />
								<span>mon site responsive </span><a href="http://html5up.net">HTML CSS</a>.</h2>
								<p>ICI PARLER DE MA VIE PATION etc</p>
							</header>

							<footer>
								<a  type=button onclick="aider()" value="Aide" href="#portfolio" class="button scrolly">VOIR PORTFOLIO</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
							egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
							Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
							fusce hendrerit lacus ridiculus.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="pecheric_alexis/templates/portfolio.html" class="image fit"><img src="pecheric_alexis/public/images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Administrer les réseaux et l’Internet (s1)</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="pecheric_alexis/public/images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Rhoncus Semper</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="pecheric_alexis/public/images/pic04.jpg" alt="" /></a>
										<header>
											<h3>Connecter les entreprises et les usagers (s1)</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="pecheric_alexis/public/images/pic05.jpg" alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="pecheric_alexis/public/images/pic06.jpg" alt="" /></a>
										<header>
											<h3>Créer des outils et applicationsinformatiques pour les RT (s1)</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="pecheric_alexis/public/images/pic07.jpg" alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>À PROPOS</h2>
							</header>

							<a href="#" class="image featured"><img src="pecheric_alexis/public/images/pic08.jpg" alt="" /></a>

							<p>Présentation<br>
Je m'appelle Alexis Pecheric, je suis étudiant en BUT Reseau telecom à Roanne (42). Je suis originaire de Lyon. J'ai 18 ans et je suis un passionné d'informatique et des nouvelles technologie. Je consacre une partie de mon temps pour faire du sport (boxe) ainsi qu'à la musique. </p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Mon CV</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleif end id porttitor ac ultricies lobortis sem nunc
							orci ridiculusw <br> faucibus <br>a consectetur. <br>Porttitor curae mauris urna mi dolor.
                            azdazdaza zdzaddddddddddddd <br>ddddddddddddddddddddd dddddddd ddddddddddddddddd
                                azdddddd dddddddddddd dddddddddddddddddd <br>dddddddddddddd <br>dddddddd
                                zdaaa<br>
                            
                            
                            
                            
                            
                            </p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer pied de page  -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; PECHERIC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts    const TL = gsap.timeline({ repeat : 3 , repeatDelay : 0.5 });                                        -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  
        <script> const titreSpans = document.querySelectorAll('h2, span, p, footer');
        const btns = document.querySelectorAll('button scrolly');
        const logo = document.querySelector('.nav, ul ,.body');
        const medias = document.querySelectorAll('.image.fit');
        const l1 = document.querySelector('.l1');
        const l2 = document.querySelector('.l2');

        window.addEventListener('load', ()  => {

    const TL = gsap.timeline({paused: true});

    TL
    .staggerFrom(titreSpans, 1, {top: -50, opacity: 0, ease: "power2.out"}, 0.3)
    .staggerFrom(btns, 1, {opacity: 0, ease: "power2.out"}, 0.3, '-=1')
    .from(l1, 1, {width: 0, ease: "power2.out"}, '-=2')
    .from(l2, 1, {width: 0, ease: "power2.out"}, '-=2')
    .from(logo, 0.4, {transform: "scale(0)", ease: "power2.out"}, '-=2')
    .staggerFrom(medias, 1, {right: -200, ease: "power2.out"}, 0.3, '-=1');

    
    

    TL.play();
            
        }) 

                               
                               </script>

	</body>
